body {
	
    padding-top: 50px;
	color: #01FF70;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: #01FF70
;
	}
	
.feature {
	background-color: rebeccapurple;
	color: black;
	}

#feature-carousel {
	min-height: 400px;
	}

#feature-carousel img {
	margin: 0 auto;
	}
		
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: rebeccapurple;
    color: white;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-image: url(images/arc1.jpg);
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: center;
	}

